/* header {
    background-color: red;
    color: white;
    padding: 20px
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
}

.layout {
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-height: 100vh;
} */